.slider {
    margin: 10px auto;
    position: center;
    height: 220px;
}

img {
    max-height: 200px;
    max-width: 280px;
}

h1 {
    width : 100%;
    text-align: center;
}

body {
    overflow: auto !important;
}

p {
    text-align: justify;
    margin: 10px 5%;
}