<<<<<<< HEAD
.Menu {
    width: 90%;
    margin: 10px auto;
}

img {
    margin : auto;
=======
.Menu {
    width: 100%;
    margin: auto;
}

img {
    margin : auto;
>>>>>>> 44f3c22b4ecb6ce4c343b2887fa929acbf737ac3
}