.Home .lander {
    padding: 80px 0;
    text-align: center;
  }
  
.Home .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}
  
.Home .lander p {
    color: #999;
}

.btn_menu{
    margin-top: 10px;
    width: 100%;
    height: 125px;
}

.container{
    width: 100%;
    align-content: center;
    margin-top: 25px;
}

.fas{
    padding: 10px;
}

.btn_menu{

    vertical-align:middle;
    line-height: 75px;
}

body{
    background: #f2f2f2;
}


.ret_row{
    float: right;
    padding: 15px;
}

  