.btn_menu{
    margin-top: 50px;
    padding: 15px;
    width: 100%;
}

.container{
    width: 100%;
    align-content: center
}

.fas{
    padding: 10px;
}

.btn_menu{
    height:100px;
    vertical-align:middle;
    line-height: 75px;
}

